<div *ngIf="!inline" [ngClass]="{'has-card-header': showHeader}"  class="card {{sectionClassWidth}}">
    <div class="card-header" *ngIf="showHeader">
        
        <a data-toggle="collapse" role="tab" href="#section-{{section.id}}" [attr.aria-expanded]="expanded" aria-control="" style="float:left"> <i class="fa fa-chevron-right" aria-hidden="true"></i> </a>
        <span style="float:right">{{title}}</span>
        <div class="card-block" *ngIf="headerComponents.length>0" style="float:right;padding:0"    >
            <ng-container *ngFor="let sectionComponent of headerComponents">
                <!--<controller [dashboardSection]="section" [id]="sectionComponent.componentId" [parameters]="sectionComponent.parameters" *ngIf="sectionComponent.component.componentType=='controller'" ></controller>-->
                <!--<controller-component [dashboardSection]="section" [id]="sectionComponent.componentId" [parameters]="sectionComponent.parameters"  *ngIf="sectionComponent.component.componentType=='controllerComponent'" ></controller-component>-->
                <kervi-sensor [dashboardSection]="section" [sensor]="sectionComponent.component" [parameters]="sectionComponent.parameters" *ngIf="sectionComponent.component.componentType=='sensor'" ></kervi-sensor>
            </ng-container>
        </div>
  </div>
    <div id="section-{{section.id}}" role="tabpanel" [ngClass]="{'in': expanded}" class="collapse  {{sectionClassHeight}} " *ngIf="showHeader" style="overflow:auto">
        <div class="card-block" *ngIf="components.length>0" >
            <ng-container *ngFor="let sectionComponent of components">
                <!--<controller [dashboardSection]="section" [id]="sectionComponent.componentId" [parameters]="sectionComponent.parameters" *ngIf="sectionComponent.component.componentType=='controller'" ></controller>-->
                <!--<controller-component [dashboardSection]="section" [id]="sectionComponent.componentId" [parameters]="sectionComponent.parameters"  *ngIf="sectionComponent.component.componentType=='controllerComponent'" ></controller-component>-->
                <kervi-sensor [dashboardSection]="section" [sensor]="sectionComponent.component" [parameters]="sectionComponent.parameters" *ngIf="sectionComponent.component.componentType=='sensor'" ></kervi-sensor>
            </ng-container>
        </div>
        
        <div class="card-block" *ngIf="section.parameters.userLog"  >
            <table class="table">
                <thead>
                <tr>
                    <th>&nbsp;</th>
                    <th>Time</th>
                    <th>component</th>
                    <th>topic</th>
                </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let message of messages$ | async">
                        <td>
                            <span *ngIf="message.level<3" class="alert" [ngClass]="{'text-danger': message.level==1, 'text-warning': message.level==2}" >&#11044;</span>
                        </td>
                        <td>{{message.timestamp | date: 'HH:mm:ss'}}</td>
                        <td>{{message.sourceName}}</td>
                        <td>{{message.topic}}</td>
                    </tr>
                </tbody>
            </table>
            
        </div>    
    </div>
    
    <div class="card-block {{sectionClassHeight}} " *ngIf="!showHeader" style="overflow:auto">
        <ng-container *ngFor="let sectionComponent of components">
            <!--<controller [dashboardSection]="section" [id]="sectionComponent.componentId" [parameters]="sectionComponent.parameters" *ngIf="sectionComponent.component.componentType=='controller'" ></controller>-->
            <!--<controller-component [dashboardSection]="section" [id]="sectionComponent.componentId" [parameters]="sectionComponent.parameters"  *ngIf="sectionComponent.component.componentType=='controllerComponent'" ></controller-component>-->
            <kervi-sensor [dashboardSection]="section" [sensor]="sectionComponent.component" [parameters]="sectionComponent.parameters" *ngIf="sectionComponent.component.componentType=='sensor'" ></kervi-sensor>
        </ng-container>
    </div>
    
</div>

<ng-template [ngIf]="inline && section.components.length>0" style="display:inline-block">
        <ng-container *ngFor="let sectionComponent of section.components" style="display:inline-block">
            <!--<controller [dashboardSection]="section" [id]="sectionComponent.componentId" [parameters]="sectionComponent.parameters" *ngIf="sectionComponent.component.componentType=='controller'" ></controller>-->
            <!--<controller-component [dashboardSection]="section" [id]="sectionComponent.componentId" [parameters]="sectionComponent.parameters"  *ngIf="sectionComponent.component.componentType=='controllerComponent'" ></controller-component>-->
            <kervi-sensor [dashboardSection]="section" [inline]="true" [sensor]="sectionComponent.component" [parameters]="sectionComponent.parameters" *ngIf="sectionComponent.component.componentType=='sensor'" ></kervi-sensor>
        </ng-container>
</ng-template>