<nav class="navbar row navbar-toggleable-md navbar-fixed-top navbar-light bg-faded page-header">
	<ul class="navbar-nav col-md-4">
		<li class="nav-item dropdown" style="isplay: inline-block">
			<a class="nav-link" title="Dashboards" style="padding-top:0;cursor: pointer" data-toggle="dropdown"><i class="fa fa-bars fa-lg" aria-hidden="true"></i></a>
			<div class="dropdown-menu  multi-leve ul.nav.navbar-nav.no-collapse">
				<!--<span class="dropdown-divider">&nbsp; Dashboards</span>-->
				<div class="dropdown-submenu">
					<a *ngFor="let dashboard of (dashboards$ | async)" class="dropdown-item" [routerLink]="['/dashboard', dashboard.id]">{{dashboard.name}}</a>
					<div *ngIf="authenticated" class="dropdown-divider"></div>
					<a *ngIf="authenticated" href="#" (click)="logoff()" class="dropdown-item" >Log out</a>
				</div>
			</div>
		</li>
		<li class="nav-item" *ngIf="showSectionController">
			<a style="padding-top:0; display:inline-block" class="nav-link btn" (click)="dashboardSectionsHidden = !dashboardSectionsHidden;"><i class="fa fa-sliders fa-lg" aria-hidden="true"></i>{{dashboardSectionsVisible}}</a>
		</li>
		<li *ngIf="dashboard" style="display:inline-block">&nbsp;&nbsp;&nbsp;{{dashboard.name}}</li>
	</ul>
	<div *ngIf="dashboard && dashboard.sysSection" class="col-md-8 core-sensors text-right" style="float:right; display:inline-block">
			&nbsp;<kervi-dashboard-section [inline]="true" [section]="dashboard.sysSection" ></kervi-dashboard-section>
	</div>
</nav>

<ng-container *ngIf="dashboard && dashboard.template">
	<!--<dashboard-layout [dashboard]="dashboard"></dashboard-layout>-->
</ng-container>
<div *ngIf="dashboard && !dashboard.template" style="position:relative;margin-top:25px;">
	<kervi-cam-viewer *ngIf="cameraId" [isBackground]="true" [cameraId]="cameraId" [parameters]="cameraParameters"></kervi-cam-viewer>
	<div id="controller-pads">
		<div *ngIf="showLeftPad" class="left-pad-area" style="position:fixed;" (mousedown)="padPress('left')" (mouseup)="padRelease('left')">
			<fieldset id="leftPad" style="position:absolute" class="pad" [attr.data-width]="padSize" [attr.data-height]="padSize">
				<legend></legend>
				<input type="hidden" id="left-pad-x" name="left-x" value="0"><input type="hidden" id="left-pad-y" name="left-y" value="0">
			</fieldset>
		</div>
		<div *ngIf="showRightPad" class="right-pad-area" style="position:fixed" (mousedown)="padPress('right')" (mouseup)="padRelease('right')">
			<fieldset id="rightPad" style="position:absolute" class="pad" [attr.data-width]="padSize" [attr.data-height]="padSize">
				<legend></legend>
				<input id="right-pad-x" type="hidden" name="right-x" value="0"> <input type="hidden" id="right-pad-y" name="right-y" value="0">
			</fieldset>
		</div>
	</div>
	<div class="container-fluid" style="top:0;z-index:1999;position:absolute" >
		<div class="card-columns" [ngClass]="{'dashboard-sections-hidden' : dashboardSectionsHidden }">
			<kervi-dashboard-section *ngFor="let section of dashboard.sections" [section]="section"></kervi-dashboard-section>
		</div>  
	</div>
</div>
<footer class="footer" *ngIf="dashboard">
		<div class="row">
			<div class="col-sm-4 text-left" style="text-align: left">
				<kervi-dashboard-section [inline]="true" *ngIf="dashboard.footerLefSection" [section]="dashboard.footerLeftSection"></kervi-dashboard-section>
			</div>
			<div class="col-sm-4 text-center" style="text-align:center">
				<kervi-dashboard-section [inline]="true" *ngIf="dashboard.footerCenterSection" [section]="dashboard.footerCenterSection"></kervi-dashboard-section>
			</div>
			<div class="col-sm-4 text-right" style="text-align: right">
				<kervi-dashboard-section [inline]="true" *ngIf="dashboard.footerRightSection" [section]="dashboard.footerRightSection"></kervi-dashboard-section>
			</div>
		</div>
	</footer>