<nav class="navbar navbar-fixed-top navbar-light bg-faded page-header">
	<ul class="nav navbar-nav">
    <app-page-header></app-page-header>
		<li class="nav-item" *ngIf="showSectionController">
			<a class="btn btn-default" (click)="dashboardSectionsHidden = !dashboardSectionsHidden;"><i class="fa fa-sliders fa-lg" aria-hidden="true"></i>{{dashboardSectionsVisible}}</a>
		</li>
		<li *ngIf="dashboard && dashboard.sysSection" class="nav-item core-sensors" style="float:right">
			<kervi-dashboard-section [inline]="true" [section]="dashboard.sysSection" ></kervi-dashboard-section>
		</li>
	</ul>
</nav>

<ng-container *ngIf="dashboard && dashboard.template">
	<dashboard-layout [dashboard]="dashboard"></dashboard-layout>
</ng-container>
<div *ngIf="dashboard && !dashboard.template" style="position:relative;margin-top:25px;">
	<kervi-cam-viewer *ngIf="dashboard.background.type=='camera'" [isBackground]="true" [cameraId]="dashboard.background.cameraId"></kervi-cam-viewer>
	<div class="container-fluid" style="position:absolute;top:0;z-index:1999" >
		<div class="card-columns" [ngClass]="{'dashboard-sections-hidden' : dashboardSectionsHidden }">
			<kervi-dashboard-section *ngFor="let section of dashboard.sections" [section]="section"></kervi-dashboard-section>
		</div>  
	</div>
  <footer class="footer">
		<kervi-dashboard-section [inline]="true" *ngIf="dashboard.footerSection" [section]="dashboard.footerSection"></kervi-dashboard-section>
	</footer>
</div>