<div *ngIf="parameters.size==0 && !parameters.inline" class="block-component"> 
    <span  *ngIf="parameters.labelIcon" class="fa fa-{{parameters.labelIcon}}"></span>
    <span *ngIf="parameters.label">{{parameters.label}}</span>
    <select [style.width.%]="parameters.inputSize" class="form-control pull-right" (change)="onChange($event.target.value)" >
        <option *ngFor="let option of select.options"  [attr.value]="option.value" [attr.selected]="(option.selected$ | async) ? true : null ">
            {{option.text}}
        </option>
    </select>
</div>
<div *ngIf="parameters.size > 0 || parameters.inline" class=""> 
    <span  *ngIf="parameters.labelIcon" class="fa fa-{{parameters.labelIcon}}"></span>
    <span *ngIf="parameters.label">{{parameters.label}}</span>
    <select class="form-control" [style.width.%]="parameters.inputSize" (change)="onChange($event.target.value)" >
        <option *ngFor="let option of select.options"  [attr.value]="option.value" [attr.selected]="(option.selected$ | async) ? '' : null">
            {{option.text}}
        </option>
    </select>
</div>