<div *ngIf="!inline" class="can-toggle pull-right" [style.width.%]="parameters.inputSize">
    <input id="a" class=""  type="checkbox" [attr.checked]="state ? '' : null" >
    <label for="a">
        <div class="can-toggle__switch" data-checked="On" data-unchecked="Off"></div>
    </label>
</div>

<div *ngIf="inline" class="can-toggle" style="display:inline-flex">
    <input id="a" class=""  type="checkbox" [attr.checked]="state ? '' : null" >
    <label for="a">
        <div class="can-toggle__switch" data-checked="On" data-unchecked="Off"></div>
    </label>
</div>