<ng-container *ngIf="parameters.type=='switch'">
    <div *ngIf="parameters.size==0 && !parameters.inline" class="block-component"> 
        <span  *ngIf="parameters.labelIcon" class="fa fa-{{parameters.labelIcon}}"></span>
        <span  *ngIf="parameters.label"  >{{parameters.label}}</span>
        <input class="pull-right" [style.width.%]="parameters.inputSize" type="checkbox" [attr.checked]="(button.state$ | async) ? '' : null" data-toggle="toggle">
    </div>
    <span *ngIf="parameters.size>0 || parameters.inline">
        <span  *ngIf="parameters.labelIcon" class="fa fa-{{parameters.labelIcon}}"></span>
        <label *ngIf="parameters.label" >{{paramers.label}}</label>
        <input type="checkbox" [style.width.%]="parameters.inputSize" [attr.checked]="(button.state$ | async) ? '' : null" data-toggle="toggle">
    </span>
</ng-container>
<ng-container *ngIf="parameters.type=='button'">
    <div *ngIf="parameters.size==0 && !parameters.inline" class="block-component"> 
        <span  *ngIf="parameters.labelIcon" class="fa fa-{{parameters.labelIcon}}"></span>
        <span  *ngIf="parameters.label">{{parameters.label}}</span>
        <a class="btn btn-primary pull-right" [ngClass]="{'btn-primary-hover': state}" [style.width.%]="parameters.inputSize"  (mousedown)="press()" (mouseup)="release()" [attr.title]="button.name">
            <i *ngIf="parameters.buttonIcon" class='fa fa-{{parameters.buttonIcon}}'></i>
            <ng-container *ngIf="parameters.buttonText" >{{ parameters.buttonText}}</ng-container>
        </a>
    </div>

    <span *ngIf="parameters.size>0 || parameters.inline"> 
        <span  *ngIf="parameters.labelIcon" class="fa fa-{{parameters.labelIcon}}"></span>
        <span  *ngIf="parameters.label">{{parameters.label}}</span>
        <a class="btn btn-primary" [ngClass]="{'btn-primary-hover': state}" [style.width.%]="parameters.inputSize" (mousedown)="press()" (mouseup)="release()" [attr.title]="button.name">
            <i *ngIf="parameters.buttonIcon" class='fa fa-{{parameters.buttonIcon}}'></i>
            <ng-container *ngIf="parameters.buttonText" >{{ parameters.buttonText}}</ng-container>
        </a>
    </span>
</ng-container>