<a *ngIf="!inline" class="btn btn-primary pull-right" style="width:100%" [ngClass]="{'btn-primary-hover': (value.value$ | async)}" (mousedown)="press()" (mouseup)="release()" [attr.title]="value.name">
    <i *ngIf="parameters.buttonIcon" class='fa fa-{{parameters.buttonIcon}}'></i>
    <ng-container *ngIf="parameters.buttonText" >{{ parameters.buttonText}}</ng-container>
</a>

<a *ngIf="inline" class="btn btn-primary" [ngClass]="{'btn-primary-hover': (value.value$ | async)}" (mousedown)="press()" (mouseup)="release()" [attr.title]="value.name">
    <i *ngIf="parameters.buttonIcon" class='fa fa-{{parameters.buttonIcon}}'></i>
    <ng-container *ngIf="parameters.buttonText" >{{ parameters.buttonText}}</ng-container>
</a>
