<div *ngIf="parameters.size==0 && !inline" class="block-component"> 
    <span  *ngIf="parameters.labelIcon" class="fa fa-{{parameters.labelIcon}}"></span>
    <span  *ngIf="parameters.label"  >{{parameters.label}}</span>
    <a class="btn btn-primary pull-right" [ngClass]="{'btn-primary-hover': (value.value$ | async)}" [style.width.%]="parameters.inputSize"  (mousedown)="press()" (mouseup)="release()" [attr.title]="value.name">
        <i *ngIf="parameters.buttonIcon" class='fa fa-{{parameters.buttonIcon}}'></i>
        <ng-container *ngIf="parameters.buttonText" >{{ parameters.buttonText}}</ng-container>
    </a>
</div>

<span *ngIf="parameters.size>0 || inline"> 
    <span  *ngIf="parameters.labelIcon" class="fa fa-{{parameters.labelIcon}}"></span>
    <span  *ngIf="parameters.label"  >{{parameters.label}}</span>
    <a class="btn btn-primary" [ngClass]="{'btn-primary-hover': (value.value$ | async)}"  (mousedown)="press()" (mouseup)="release()" [attr.title]="value.name">
        <i *ngIf="parameters.buttonIcon" class='fa fa-{{parameters.buttonIcon}}'></i>
        <ng-container *ngIf="parameters.buttonText" >{{ parameters.buttonText}}</ng-container>
    </a>
</span>