<ng-container *ngIf="isBackground">
	<div id="video-viewer" class="video video-background" style="positionx:relative;width:100%;">
		<span class="camImage" style="top:0px;left:0px;height:100%;width:100%">
			<kervi-mpeg-viewer   [cameraSource]="(cameraSource$ | async)" > </kervi-mpeg-viewer>
		</span>
		<canvas id="camCanvas" style="position:absolute;top:0px;left:0px;width:100%;height:100%"></canvas>
		<canvas id="poiCanvas" style="position:absolute;top:0px;left:0px;width:100%;height:100%"></canvas>
		<div class="cam-pad-area" style="display:none">
			<fieldset id="camPad" class="pad" [attr.data-width]="padSize" [attr.data-height]="padSize">
				<legend></legend>
				pan : <input id="cam-servo-pan" name="x" value="0"> tilt : <input id="cam-servo-tilt" name="y" value="0">
			</fieldset>
		</div>
	</div>
</ng-container>

<ng-container *ngIf="!isBackground">
	<div id="video-viewer" class="video" style="position:relative;width:100%">
		<span class="camImage" style="top:0px;left:0px;height:100%;width:100%">
			<kervi-mpeg-viewer  [cameraSource]="(cameraSource$ | async)" > </kervi-mpeg-viewer>
		</span>
		<canvas id="camCanvas" style="position:absolute;top:0px;left:0px;width:100%;height:100%"></canvas>
		<canvas id="poiCanvas" style="position:absolute;top:0px;left:0px;width:100%;height:100%"></canvas>
		<div class="cam-pad-area" style="position:absolute">
			<fieldset id="camPad" style="position:absolute" class="pad" [attr.data-width]="padSize" [attr.data-height]="padSize">
				<legend></legend>
				pan : <input id="cam-servo-pan" name="x" value="0"> tilt : <input id="cam-servo-tilt" name="y" value="0">
			</fieldset>
		</div>
	</div>
</ng-container>